.link {text-decoration: none;}
.link {list-style: none}

.body {
  background-color:#FFFFFF;
}
.header {
}
.nav {
}
.logo {
  color:#4d5ae5;
}
.studio {
  color:#2e2f42;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#2e2f42;
}
.nav-page {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#2e2f42;
}
.nav-page:hover {
  color: #404bbf;
} 
.nav-page:focus {
  color: #404bbf;
}





.data {
}
.data-item {
}
.data-item-link {
}