:root {
  --main-text-color: #434455;
  --section-text-color: #2e2f42;
  --btn-color-text: #F4F4FD;
  --btn-color-back: #4d5ae5;
}


.link {text-decoration: none;}
.list {list-style: none}

.body {
  font-family:"Roboto", sans-serif;
  background-color:#FFFFFF;
  color:#434455;
}

.logo {
  color:#4d5ae5;
  font-family:"Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.studio {
  color:#2e2f42;
}

.nav-page {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#2e2f42;
}
.nav-page:hover {
  color: #404bbf;
} 
.nav-page:focus {
  color: #404bbf;
}

.address {
  font-style: normal
}
.data-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.data-item:hover {
  color: #404bbf;
} 
.data-item:focus {
  color: #404bbf;
}
/* 1 section */
.title {
  background-color: #2e2f42;
}
.title-about {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.title-btn {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif ;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff ;
  cursor: pointer
}
.title-btn:hover {
  background-color: #404BBF
}
.title-btn:focus {
  background-color: #404BBF
}

/* 2 section */


.feature-sub {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--section-text-color);
}
.feature-sub-deck {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* 3 section */

.works {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--section-text-color);
}
/* 4 section */
.team-title {
  background-color: #F4F4FD;

}
.team {
  font-size: 36px;
  line-height: 1.11 ;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--section-text-color);
}
.team-img {
  background-color: #FFFFFF
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--section-text-color);
}
.team-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/* fotter */
.footer { background-color: #2e2f42;
}
.logo-foot {
  color:#4d5ae5;
  font-family:"Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
  .studio-foot {
    color:#f4f4fd;
  }




  /* main Portfolio*/

  .btn-all {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--btn-color-text);
    background-color: var(--btn-color-back)
  }
  .btn-all:hover {
    color: #FFFFFF;
    background-color: #404BBF;
  }
  .btn-all:focus {
    color: #FFFFFF;
    background-color: #404BBF;
  }

  .btn {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:  #4D5AE5 ;
    background-color: #F4F4FD; 
  }
 
  .row-img-caption {
    font-weight: 500;
    font-size: 20px;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--section-text-color);
  }
  .row-img-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
  }